<div class="container">

  <div class="date text-center">
    <h1><strong><%= Time.now.strftime("%dth of %B, %Y") %></strong></h1>
  </div>

  <div class="lists">
    <div class="row">
      <% @lists.each do |list| %>
        <%= link_to list_tasks_path(list), style: "text-decoration:none" do %>
          <div class="list-item col-12 col-md-6 col-lg-3">
            <% if list.domain == "Job" %>
              <div class="list-green text-center rounded">
                <p class="list-title"><strong><%= list.title %></strong></p>
                <p class="list-delete"><%= link_to '<i class="fas fa-times"></i>'.html_safe, list_path(list), method: :delete, data: { confirm: "Are you sure?" }, style: "color:grey" %></p>
              </div>
            <% elsif list.domain == "Personal" %>
              <div class="list-orange text-center rounded">
                <p class="list-title"><strong><%= list.title %></strong></p>
                <p class="list-delete"><%= link_to '<i class="fas fa-times"></i>'.html_safe, list_path(list), method: :delete, data: { confirm: "Are you sure?" }, style: "color:grey" %></p>
              </div>
            <% else %>
              <div class="list-grey text-center rounded">
                <p class="list-title"><strong><%= list.title %></strong></p>
                <p class="list-delete"><%= link_to '<i class="fas fa-times"></i>'.html_safe, list_path(list), method: :delete, data: { confirm: "Are you sure?" }, style: "color:grey" %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="add">
    <%= render 'form' %>
  </div>

  <div class="archives text-center">
    <p class="text-btn"><strong><%= link_to 'My archives', archives_path, class: "btn-archives" %></strong></p>
  </div>
</div>

