<div class="container">
  <div class="date text-center">
    <% if @list.domain == "Personal" %>
      <h1 class="task-title-yellow"><%= @list.title %></h1>
    <% elsif @list.domain == "Job" %>
      <h1 class="task-title-green"><%= @list.title %></h1>
    <% else %>
      <h1 class="task-title-grey"><%= @list.title %></h1>
    <% end %>
    <% unless @list.completed_at.nil? %>
    <h3><strong> Completed:   </strong><em><%= @list.completed_at.strftime("%dth of %B, %Y") %></em> </h3>
    <% end %>
  </div>

  <div class="tasks-list">
    <p><% @tasks.each do |task| %></p>
    <% if task.state == 'pending' %>
      <ul>
        <li class="task"><%= link_to '<i class="far fa-square"></i>'.html_safe, complete_list_task_path(@list, task), method: :patch, style: "color:grey" %>  <%= task.content %>  <%= link_to '<i class="fas fa-times"></i>'.html_safe, list_task_path(@list, task), method: :delete, style: "color:grey", class: "task-delete" %></li>
      </ul>
    <% else %>
      <ul>
        <li class="task done"><i class="far fa-check-square"></i> <%= task.content %> <%= link_to '<i class="fas fa-times"></i>'.html_safe, list_task_path(@list, task), method: :delete, style: "color:grey", class: "task-delete" %></li>
      </ul>
    <% end %>
    <% end %>
  </div>

  <%= render 'form' %>
  <div class="archives text-center">
        <p class="text-btn"><strong><%= link_to 'Back to my lists', lists_path, class: "btn-archives" %></strong></p>
  </div>
</div>
