<div class="container">
  <div class="title">
    <h1><%= @list.title %></h1>
    <% unless @list.completed_at.nil? %>
    <h3>Completed on the: <%= @list.completed_at.strftime("%d of %B, %Y") %></h3>
    <% end %>
  </div>
  <div>
    <p><% @tasks.each do |task| %></p>
    <% if task.state == 'pending' %>
      <ul>
        <li class="task"><%= link_to 'Completed?', complete_list_task_path(@list, task), method: :patch %>  <%= task.content %> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, list_task_path(@list, task), method: :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li class="task done"><input type="checkbox" checked="checked"> <%= task.content %> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, list_task_path(@list, task), method: :delete %></li>
      </ul>
    <% end %>
    <% end %>
  </div>
  <%= render 'form' %>
  <%= link_to 'Go back to the lists', lists_path %>
</div>
